# Ignore all
*

# Unignore all with extensions
!*.*
*.bins
*.bin
*.prob
*.exe
*.plist
*.yml
*tempCodeRunnerFile.cpp
*snippets-builder.cpp
*snippets-builder.sh

# Unignore all dirs
!*/

### VisualStudioCode ###
.vscode/*
.DS_Store