# Ignore all
*

# Unignore all with extensions
!*.*

*.bin
*.prob

# Unignore all dirs
!*/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json